.post {
  background: #ddd;
  display: block;
  margin: 20px 0;
  padding: 20px;
}

.post .post-title {
  color: #FF4400;
}

.post img {
  width: 40px;
  margin: 0 10px 10px;
  display: inline-block;
  height: 40px;
}

.post .post-content {
  color: #2266FF;
}
